tests/integration/src/test/resources/http-listener-static-resource-test.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
      xsi:schemaLocation="
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">

    <!--<tls:context name="tlsContext">-->
        <!--<tls:key-store path="serverKeystore" password="mulepassword" keyPassword="mulepassword"/>-->
    <!--</tls:context>-->

    <http:listener-config name="listenerConfigPort1" host="localhost" port="${port1}"/>
    <!--<http:listener-config name="listenerConfigPort2" host="localhost" port="${port2}" protocol="HTTPS" tlsContext-ref="tlsContext"/>-->
    <!--<http:listener-config name="listenerConfigPort3" host="localhost" port="${port3}"/>-->

    <flow name="main-http" processingStrategy="synchronous">
        <poll frequency="10000000">
            <set-payload value="e"/>
        </poll>
        <!--<http:listener config-ref="listenerConfigPort1" path="static/*"/>-->
        <!--<http:static-resource-handler resourceBase="${test.root}/dummy-docroot" defaultFile="index.html"/>-->
        <set-payload value="#[new Integer(10)]"/>
        <set-payload value="b"/>
        <set-payload value="#[new Long(20)]"/>
        <set-payload value="d"/>
        <set-variable variableName="p" value="a"/>
        <choice>
            <when expression="#[true]">
                <logger message="true"/>
                <enricher target="#[payload]">
                    <flow-ref name="anotherFlow"/>
                </enricher>
            </when>
            <otherwise>
                <logger message="false"/>
            </otherwise>
        </choice>
        <set-payload value="e"/>
        <set-payload value="f"/>
        <catch-exception-strategy/>
    </flow>

    <sub-flow name="anotherFlow">
        <logger message="In subflow"/>
        <set-property propertyName="a" value="b"/>
        <first-successful>
            <set-payload value="#['works']"/>
        </first-successful>
        <append-string-transformer message="aaaa"/>
        <!--<expression-component>-->
            <!--thrw new asdf;-->
        <!--</expression-component>-->
        <transactional>
            <logger message="within transacton"/>
        </transactional>
    </sub-flow>

    <notifications>
        <notification interface="MESSAGE-PROCESSOR"/>
        <!--    		<notification  /> -->
        <!--<notification-listener ref="org.mule.context.notification.MessageProcessorTextDebugger"/>-->
    </notifications>
</mule>